# KiCad backups and intermediate build products
*-backups/
*.kicad_prl
*.bak
fp-info-cache
hardware/kicad/build/*.dsn
hardware/kicad/build/*.ses
hardware/kicad/build/*.net
hardware/kicad/build/*.png
hardware/kicad/build/pcb_top.pdf
# ESP-IDF
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
hardware/kicad/build/*.log
hardware/kicad/build/run_fr*.sh
hardware/kicad/build/drc.rpt
hardware/kicad/build/esp32_fem_raw.dsn
hardware/kicad/build/fab/*.gbr
hardware/kicad/build/fab/*.gtl
hardware/kicad/build/fab/*.gbl
hardware/kicad/build/fab/*.g2
hardware/kicad/build/fab/*.g3
hardware/kicad/build/fab/*.gto
hardware/kicad/build/fab/*.gbo
hardware/kicad/build/fab/*.gts
hardware/kicad/build/fab/*.gbs
hardware/kicad/build/fab/*.gtp
hardware/kicad/build/fab/*.gbp
hardware/kicad/build/fab/*.gm1
hardware/kicad/build/fab/*.drl
hardware/kicad/build/fab/*.gbrjob
hardware/kicad/build/v_*.pdf
hardware/kicad/build/v_*.png
hardware/kicad/build/*.bak
